@model EFDataLibrary.Models.Product
<!-- single product -->
<div class="col-lg-4 col-md-6">
    <div class="single-product">
        <img class="img-fluid" src="~/img/product/p1.jpg" alt="">
        <div class="product-details">
            <h6>
                @Model.Name

            </h6>
            <h6>
                @Model.Category

            </h6>
            <div class="price">
                <h6>$@Model.Price</h6>
                <h6 class="l-through">$210.00</h6>
            </div>
            <div class="prd-bottom">

                <div style="cursor:pointer" onclick="func(@Model.Id)" class="social-info">
                    <span class="ti-bag"></span>
                    <p class="hover-text">add to bag</p>
                </div>
                <a href="" class="social-info">
                    <span class="lnr lnr-heart"></span>
                    <p class="hover-text">Wishlist</p>
                </a>
                <a href="" class="social-info">
                    <span class="lnr lnr-sync"></span>
                    <p class="hover-text">compare</p>
                </a>
                <a asp-controller="Cart" asp-action="Details" asp-route-id="@Model.Id" asp-route-name="@Model.Name" asp-route-returnUrl="@Context.Request.Path" class="social-info">
                    <span class="lnr lnr-move"></span>
                    <p class="hover-text">view more</p>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    function func(q) {
        console.log(q)
        fetch(`http://localhost:5000/add/${q}`, {method:'GET'})
            .then(async response => {
            });
    }
</script>
            